<div class='container-fluid'>
  <div class='row mt-4 mb-2'>
    <div class='col'>
      <div class="search-form">
        <%= form_with url: search_path, method: :get, local: true do |f| %>
          <%= f.text_field :keyword, value: @keyword %>
          <%= f.submit "検索" %>
        <% end %>
      </div>
      <% @tweets.each do |tweet| %>
        <div class="border border-primary rounded-lg mt-4" style="padding:10px;">
          <div><%= attachment_image_tag tweet.user, :profile_image, :fill,100,100 ,fallback: "no_image.jpg", class: "rounded-circle" %></div>
          <p><%= tweet.user.name %></p>
          <p><%= tweet.tweet_text%></p>
          <div>
            <%= link_to tweet_path(tweet.id) do %>
              <%= attachment_image_tag tweet, :image, :fill,100,100 ,fallback: "no_image.jpg" %>
            <% end %>
            <p><%= link_to "#{tweet.tweet_comments.count} コメント", tweet_path(tweet.id) %></p>
            <% if tweet.favorited_by?(current_user) %>
              <p>
                <%= link_to tweet_favorites_path(tweet), method: :delete do %>
                  ♥<%= tweet.favorites.count %> いいね
                <% end %>
              </p>
            <% else %>
              <p>
                <%= link_to tweet_favorites_path(tweet), method: :post do %>
                  ♡<%= tweet.favorites.count %> いいね
                <% end %>
              </p>
            <% end %>
            <p><%= link_to "削除", tweet_path(tweet), method: :delete %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
