<div class='container'>
  <div class='row mt-4 mb-2'>
    <div class="search-form">
      <%= form_with url: search_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
  </div>
  <div class='row mt-4 mb-2'>
    <% @tweets.each do |tweet| %>
      <div class='col-md-2'>
        <div><%= attachment_image_tag tweet.user, :profile_image, :fill,90,90 ,fallback: "no_image.jpg", size: '90x90', class: "rounded-circle" %></div>
        <div><%= tweet.user.name %></div>
      </div>
      <div class="col-md-10 mt-5 border border-primary rounded-bottom rounded-right" style="padding:10px;">
        <div class="col-md-8">
          <%= tweet.tweet_text%><br>
          <%= link_to tweet_path(tweet.id) do %>
            <%= attachment_image_tag tweet, :image, :fill,100,100 %>
          <% end %>
        </div>
        <div class="row">
          <div class="col-md-2 mt-2">
            <p><%= link_to "#{tweet.tweet_comments.count} コメント", tweet_path(tweet.id) %></p>
          </div>
          <div class="col-md-2">
            <div id="favorite_buttons_<%= tweet.id %>">
              <%= render "favorites/favorite", tweet: tweet %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div><%= tweet.created_at.strftime('%Y/%m/%d %H:%M:%S') %></div>
            <% if tweet.user == current_user %>
              <div><%= link_to "削除", tweet_path(tweet), method: :delete, data: {confirm: "削除しますか？"} %></div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
