<% if @tweet.errors.any? %>
  <%= @tweet.errors.count %>件のエラーが発生しました
  <% @tweet.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<div class='container'>
  <div class='row'>
    <div class="col-lg-5 mt-5 px-sm-0 mx-auto">
      <h1>ツイート投稿フォーム</h1>
      <%= form_with model: @tweet, local:true do |f| %>
        <div class="form-group mt-3">
          <h4>ツイート文</h4>
          <%= f.text_area :tweet_text %>
        </div>
        <div class="form-group mt-4">
          <h4>投稿画像</h4>
          <%= f.attachment_field :image %>
          <%= f.submit '投稿', class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
