<div class='container-fluid'>
  <div class='row mt-4 mb-2'>
    <div class='col'>
      <div>
        <h3><%= @user.name %></h3>
        <%= attachment_image_tag @user, :profile_image, :fill,100,100 ,fallback: "no_image.jpg", class: "rounded-circle" %>
        <% if @user.id == current_user.id %>
          <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
        <% end %>
      </div>
      <% @tweets.each do |tweet| %>
      <div class="border border-primary rounded-lg mt-4" style="padding:10px;">
        <p></p>
        <p>ツイート：<%= tweet.tweet_text%></p>
        <p><%= attachment_image_tag tweet, :image %></p>
        <p><%= tweet.created_at.strftime('%Y/%m/%d %H:%M:%S') %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>